@font-face {
    font-family: RR;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: RM;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: RL;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}